html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F6F5F2;
}

#h1crear{
    text-align: center;
}

#h1gestion{
    text-align: center;
}


#imgIndex {
    width: 250px;
}

#imgCrear img {
    max-width: 150px;
    height:auto;
   
}

#imgCrear {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

header {
    background-color: #31363F;
}

#imgGestion img {
    max-width: 225px;
    height: auto;
    
}

#imgGestion {
    display: flex;
    justify-content: center;
    align-items: center;
}
